
body{
    font: 20px arial, sans-serif;

}
.navbar {
    background-color: #4FAC45; 
}

.quem-somos{
    background-color:#4583AC;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #A945AC; 
}

.bg-footer{
    background-color: black;
    color:white;
}